.g-topbar {
  width: 100%;
  z-index: 99;
  zoom: 1;

  .m-top{
    position: relative;
    z-index: 1000;
    height: 70px;
    box-sizing: border-box;
    background: #242424;
    border-bottom: 1px solid black();
    .wrap{
      width: 1100px;
      margin: 0 auto;
    }
    .logo {
      float: left;
      width: 176px;
      height: 69px;
      background-position: 0 0;

      a{
        float: left;
        width: 157px;
        height: 100%;
        padding-right: 20px;
        text-indent: -9999px;
      }
    }
  }
  .m-nav{
    float: left;
    li{
      position: relative;
      background-position: right -300px;
      &.fst span{
        background: none;
      }
    }
    a{
      padding: 0 19px;
      text-align: center;
      line-height: 70px;
      color: #ccc;
      &.z-slt{
        background: black();
        text-decoration: none;
        color: white();
      }
    }
    .hot{
      display: block;
      position: absolute;
      top: 21px;
      left: 100px;
      width: 28px;
      height: 19px;
      background-position: -190px 0;
    }
  }
}