.m-subnav{
  z-index: 90;
  height: 35px;
  box-sizing: border-box;
  background-color: #C20C0C;
  border-bottom: 1px solid #a40011;
  .wrap{
    width: 1100px;
    height: 34px;
    margin: 0 auto;
  }
  .nav{
    float: left;
    padding-left: 180px;
    a{
      color: #fff;
      em{
        display: inline-block;
        height: 20px;
        padding: 0 13px;
        margin: 7px 17px 0;
        border-radius: 20px;
        line-height: 21px;
      }
      .r-icon{
        display: inline-block;
        width: 8px;
        height: 8px;
        top: 2px;
        background-size: cover;
      }
    }
    li, a {
      float: left;
      height: 34px;
      text-align: center;
    }
    a:hover, a.z-slt{
      color: #fff;
      text-decoration: none;
      em {
        background: #9B0909;
      }
    }
  }
}
