html,body{
  overflow: hidden;
}
body {
  min-width: 982px;
  background: #F5F5F5;
}
html, body, img, iframe{
  border: 0;
}

html,body{
  width: 100%;
  height: 100%;
  border: 0;
  word-wrap: break-word;
  word-break: break-word;
}

body, textarea, select, input, button{
  font-size: 12px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: none;
}

body, html, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, header, menu, section, p, input, td, th, ins{
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6{
  font-size: 100%;
}

li, s{
  list-style: none;
}
em, i{
  font-style: normal;
  text-align: left;
  font-size: inherit;
}
 